---
permalink: "/"
---

<html lang = "en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src = "https://www.googletagmanager.com/gtag/js?id=UA-128309793-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-128309793-2');
    </script>


    <title>Sparklybot ✨</title>
    <meta content = "text/html; charset=UTF-8" http-equiv = "Content-Type"/>
    <meta content = "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name = "viewport"/>

    <!-- Meta Data -->
    <meta content = "#7309e4" name = "theme-color">
    <meta content = "assets/images/profile.png" property = "og:image"/>
    <link href = "{{ site.url }}/assets/images/favicon.ico" rel = "icon" type = "image/x-icon">
    <meta content = "Sparklybot ✨" property = "og:title"/>

    <meta content = "Sparklybot | Website" property = "og:description"/>
    <meta content = "A bot completely made for fun! With Fun, Moderation and Memes + Extras!" name = "description"/>

    <meta content = "2 days" name = "revisit-after">
    <meta content = "Soheab_, soheab, Sparkly, Sparklybot" name = "keywords">
    <meta content = "Soheab_, soheab, Sparkly, Sparklybot" name = "keywords">

    <meta content = "en_GB" property = "og:locale"/>
    <link href = "https://soheab.github.io/" rel = "canonical"/>
    <meta content = "https://soheab.github.io/" property = "og:url"/>
    <meta content = "Sparklybot" property = "og:site_name"/>

    <meta content = "summary" name = "twitter:card"/>
    <meta content = "@Soheab_" name = "twitter:site"/>

    <!-- CSS & Javascript -->
    <script src="{{ site.url }}/assets/js/smoothscroll.min.js" type="text/javascript" charset="utf-8"></script>
    <link href = "https://modesta.alexflipnote.dev/css/modesta.css" rel = "stylesheet" type = "text/css">
    <link href = "{{ site.url }}/assets/css/custom.css" rel = "stylesheet" type = "text/css">
    <script charset = "utf-8" src = "{{ site.url }}/assets/js/smoothscroll.min.js" type = "text/javascript"></script>
    <script charset = "utf-8" src = "{{ site.url }}/assets/js/main.js" type = "text/javascript"></script>
    <script defer src = "https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</head>
<body class = "github-font-standard">
<div class = "fullscreen disable-select">
    <div class = "background" style = "background-image: url('assets/images/background2.jpg');"></div>
    <div class = "center-object">
        <section class = "me">
            <div class = "avatar-container">
                <img alt = "" class = "image-title" draggable = "false" src = "{{ site.url }}/assets/images/profile.png">
            </div>
            <div class = "me">
                <h1 class = "title" style = "font-family: 'Roboto', sans-serif; font-size: 60px">Sparklybot✨</h1>
                <p class = "undertitle greyple-text" style = "font-family: 'Montserrat', sans-serif; font-size: 35px">A
                    bot completely made for fun!</p>
            </div>
        </section>
        <div class = "buttons">
            <a class = "btn gold-dropshadow animation hover"
               href = "https://discordapp.com/oauth2/authorize?client_id=440176226338865167&permissions=1543892055&scope=bot"
               target = "_blank">Invite</a>
            <a class = "btn pink-cherry-dropshadow animation hover" href = "commands.html"
               target = "_blank">Commands</a>
            <a class = "btn discord-dropshadow animation hover" href = "https://discordapp.com/invite/yCzcfju"
               target = "_blank">Support</a>
            <a class = "btn twitter-dropshadow animation hover" href = "https://twitter.com/sparklybot"
               target = "_blank">Twitter</a>
        </div>
    </div>
</div>

<span class = "info-button" onclick = "scroll_to('information')"><div class = "arrow bounce" id = "fade">
        <svg class = "white-fill" viewBox = "0 0 481.32 291.98" xmlns = "http://www.w3.org/2000/svg">
            <path d = "M466.5,15.5L466,15c-19.8-19.8-52-19.8-71.9,0L240.8,168.3L87.2,14.8C67.4-5,
            35.2-5,15.4,14.8l-0.5,0.5 C-5,35.2-5,67.4,14.8,87.2l186.6,186.6c0.9,1,1.8,2,2.7,3v0c3.8,
            3.8,8.1,6.9,12.7,9.3c17,9,38.1,7.7,53.9-3.9 c2.2-1.6,4.4-3.4,6.4-5.4L466.5,87.4C486.4,67.6,
            486.4,35.4,466.5,15.5z"/>
        </svg>
    </div></span>

<section class = "info-container" id = "information">
    <div class = "box-container center">
        <h4 class = "buttons ">Owner</h4>
        <a class = "btn hover-scale instagram no-delay scroll-in from-left scroll-in--scrolled"
           href = "https://instagram.com/soheabmalik_">Instagram</a>

        <a class = "btn hover-scale twitter scroll-in from-back scroll-in--scrolled"
           href = "https://twitter.com/soheab_">Twitter</a>

        <a class = "btn hover-scale github scroll-in from-back scroll-in--scrolled"
           href = "https://github.com/Soheab">Github</a>

        <a class = "btn hover-scale reddit scroll-in from-back scroll-in--scrolled"
           href = "https://www.reddit.com/user/Soheabmalik">Reddit</a>

        <a class = "btn hover-scale twitch scroll-in from-back scroll-in--scrolled"
           href = "https://www.twitch.tv/soheabmalik">Twitch</a>

        <a class = "btn hover-scale youtube no-delay scroll-in from-right scroll-in--scrolled"
           href = "https://www.youtube.com/channel/UCeMzlDFg0EZ5ToKl4vIN1nQ">YouTube</a>
    </div>

    <div class = "box-container center">
        <h4 class = "buttons">Bot listings</h4>

        <a class = "btn discord hover-scale-inset scroll-in from-left scroll-in--scrolled no-delay"
           href = "https://top.gg/bot/440176226338865167" target = "_blank">Top.gg</a>

        <a class = "btn not-black hover-scale-inset scroll-in from-back scroll-in--scrolled"
           href = "https://discordapps.dev/en-GB/bots/440176226338865167" target = "_blank">Discord Apps.dev</a>

        <a class = "btn white black-text hover-scale-inset scroll-in from-back scroll-in--scrolled"
           href = "https://botlist.space/bot/440176226338865167" target = "_blank">Bot List.space</a>

        <a class = "btn dark hover-scale-inset scroll-in from-back scroll-in--scrolled"
           href = "https://discord.bots.gg/bots/440176226338865167" target = "_blank">Discord Bots.gg</a>

        <a class = "btn blurple hover-scale-inset scroll-in from-back scroll-in--scrolled"
           href = "https://botsfordiscord.com/bot/440176226338865167" target = "_blank">Bots For Discord.com</a>

        <a class = "btn belize-hole hover-scale-inset scroll-in from-back scroll-in--scrolled"
           href = "https://bots.ondiscord.xyz/bots/440176226338865167" target = "_blank">Bots On Discord.xyz</a>

        <!--<a class="btn black hover-scale-inset scroll-in from-back scroll-in--scrolled"
           href="https://discordextremelist.xyz/bots/440176226338865167" target="_blank">Discord Extreme List.xyz | DEL</a>-->

        <a class = "btn nephritis-blue hover-scale-inset scroll-in from-back scroll-in--scrolled"
           href = "https://glennbotlist.xyz/bot/440176226338865167" target = "_blank">Glenn Bot List.xyz</a>

        <a class = "btn dark hover-scale-inset scroll-in from-right scroll-in--scrolled no-delay"
           href = "https://blist.xyz/bot/440176226338865167/" target = "_blank">Blist.xyz</a>
    </div>

    <!-- SOURCE: https://github.com/KawaiiBot/kawaiibot.xyz -->

    <div class = "container kawaii-developers">
        <h3 class = "kawaii-devs-title scroll-in from-left scroll-in--scrolled no-delay">Developers:</h3>
        <div class = "flex-grid scroll-in from-back scroll-in--scrolled">
        {% for member in site.data.developers %}
          <div class="col-xs-6">
            <div class="me unset">
              <img class="image-title" src="{{ member.avatar }}">
              <div class="unset">
                <h1 class="title no-margin">{{ member.name }}</h1>
                <p class="undertitle"><i>{{ member.title }}</i></p>
                {% for link in member.links %}
                  <a href="{{ link.url }}" target="_blank" {% if link.colour %}style="color: {{ link.colour }}"{% endif %}>
                    <i class="{{ link.faicon }} dev-link-logo"></i>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

<!--   <div class="container reviews">
     <h3 class="reviews-title scroll-in from-left scroll-in--scrolled no-delay">Reviews:</h3>
     <div class="flex-grid scroll-in from-back scroll-in--scrolled">
       {% for member in site.data.reviews %}
         <div class="col-xs-6">
           <div class="me unset">
             <img class="image-title" src="{{ member.avatar }}">
             <div class="unset">
               <h1 class="title no-margin">{{ member.name }}</h1>
                 <div style="width: 320px; height: 150px; overflow: auto;">
                     <q class="undertitle disable-select" style="overflow: auto; width: 10px; height: 5px"><i>{{ member.content }}</i></q>
                 </div>


             </div>
           </div>
         </div>
       {% endfor %}
     </div>
   </div>
</section> -->

<footer class = "center box-container blurple no-border-radius disable-select">
    <p class = "no-margin" style = "font-size: 1em">
        <a class = "white-text" href = "https://github.com/Soheab/Soheab.github.io/blob/master/LICENSE"
           target = "_blank">LICENSE</a>
        <a class = "white-text" href = "/"
           target = "_blank">| Sparklybot ✨ |</a>

        <a class = "white-text" href = "https://github.com/AlexFlipnote/alexflipnote.github.io"
           target = "_blank">Source</a>
    </p>
</footer>

</body>
</html>
