a.btn.btn-info[href="https://reddit.com/u/SoheabMalik"] {
    background-color: #ff4500;
    border-style: none;
}
a.btn.btn-info[href="https://instagram.com/_Soheab__"] {
    background-color: #c32aa3;
    border-style: none;
}
a.btn.btn-info[href="https://twitter.com/Soheab_"] {
    background-color: #1da1f2;
    border-style: none;
}
a.btn.btn-info[href="https://github.com/Soheab"] {
    background-color: #292d32;
    border-style: none;
}
.btn-info {
    border-radius: 18px;
}
.btn-warning {
    border-radius: 18px;
    border-style: none;
    padding: 6px;
}
.badge-secondary {
    color: black;
    background-color: white;
}
.float-left {
    float: left!important;
}
.avatar {
    border-radius: 19%!important;
    height: 134px!important;
    width: 139px!important;
    margin-right: 1em;
}
.card-footer.bg-secondary {
    color: black;
    background-color: white!important;
    border-radius: 15px;
    font-weight: 600;
    margin-top: 1em;
    border-style: none;
    margin-bottom: -14em;
}
.card-body {
    border-radius: 13px;
}
.text-muted {
    color: black!important;
}
