<!-- DEBUG: {{ page.path }} -->
<html>
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <link href="../css/modesta.css" rel="stylesheet" type="text/css">
    <link href="../css/twemoji.css" rel="stylesheet" type="text/css">
    <link href="../css/blobcat.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="markdown-container github-font-standard">
    {{ content }}
</div>
</body>
</html>
